page-about {

}
.acbswc-main-head{
  display: none;
}
.acbswc{
  top: 60px!important;
  bottom: 60px!important;
}
.acbswc .acbswc-main-container .acbswc-loaded .acbswc-overlay-hide {
  display: block;
}
